*{
   margin: 0px;
   
   padding: 0px;
   box-sizing: border-box;
}
.container{
overflow-x: hidden;
overflow-y: auto;
height: 100vh;
perspective: 10px;





}
.box{
   display: flex;
   transform-style: preserve-3d;
   position: relative;

   height: 100%;
   align-items: center; 
   justify-content: center;
   z-index: -1;
}
.background,.foreground{
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   

}
.background{
   transform: translateZ(-40px);
   scale: 5;
}
.foreground{
   transform: translateZ(-20px) ;
   scale:3;
   
}