.container{
   border: 1px solid black;
   width: 30vw; height:50vh;
   display: flex;
   flex-flow: row-reverse wrap;
}
.box{
   border: 1px solid red;
}
#hi:hover{
   scale: 1.2;
   transition: all ease 1s;
   

}
#b{
   width:auto;
   height: auto;
   width: 590px; height:590px;
   overflow: hidden;
   background-image: linear-gradient(red,green,blue,yellow,orange);
   padding: 10px;
   border-radius:100%;
}
#hi{
   border-radius: 100% ;
   width: 100%;
   height: 100%;
}
/* #b:hover{
   scale: 1.2;
   transition: all ease 1s;
   

} */